/*Config do titulo*/
#nome {
    background-color: #222;
    color: #ffbb33;
    font-size: 3em;
    text-align: start;
    width: fit-content;
    margin-top: 1em;
    margin-right: 1em;
    padding: 9px 8px;
}

#container {
    min-height: 80vh;
    margin-inline: 6%;
    text-align: left;
}

#botao {
    margin-top: 3.7em;
    transition: all ease-in-out 0.2s;
    align-self: baseline;
    background-color: #222;
    padding: 0.5em 1em;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

#botao:hover {
    color: #ffbb33;
    scale: 1.2;
}

#sec {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.project_container {
    text-align: start;
}

.project_container > ul {
    margin-block: 2em;
}

.project_container > ul > li {
    list-style: none;
    margin-block: 0.4em;
    font-size: 1.1em;
}

#div {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    width: 100%;
}

#div > div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 40%;
}

#div > div > hr {
    margin-top: 15px;
}

#div > div > h2 {
    margin-block: 1em;
}

#div > div > div {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.formEditar {
    margin-block: 2.5em;
}

.formAdicionar {
    margin-block: 0.3em;
}

.btn {
    background-color: #686764;
    color: white;
    width: fit-content;
    font-size: 16px;
    margin-top: 9px;
    font-weight: 500;
    align-self: baseline;
    padding: 0.5em 1em;
}

.btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 1624px) {
    #div > div {
        width: 50%;
    }
}


@media screen and (max-width: 1402px) {
    #nome {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1286px) {
    #div > div {
        width: 60%;
    }
}

@media screen and (max-width: 1062px) {
    .formEditar {
        margin-top: 2em;
        margin-bottom: 0.8em;
    }

    #div > div {
        width: 65%;
    }


    .formEditar label {
        font-size: 1em;
    }

    .formEditar input,
    .formEditar select {
        width: 400px !important;
    }

    .formEditar button {
        font-size: 17px !important;
    }

    #div h2 {
        font-size: 1.1em;
    }

    #botao {
        font-size: 17px;
    }

    .project_container > ul > li {
        font-size: 1em;
    }

    #nome {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 974px) {
    #nome {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 930px) {
    #div > div {
        width: 70%;
    }

    .formAdicionar input, .formAdicionar select{
        width: 350px !important;

    }
}
@media screen and (max-width: 808px) {

    #container {
        margin-inline: 2%;
    }
}

@media screen and (max-width: 702px) {
    .formAdicionar input, .formAdicionar select{
        width: 300px !important;

    }

    #nome {
        font-size: 1.5em;
    }

    #botao {
        font-size: 15px;
        font-weight: 500;
    }

    #div h2 {
        font-size: 0.9em;
    }

    #div > div > div {
        margin-top: 3px;
    }

    #div > div > hr {
        margin-top: 3px;
    }
}

@media screen and (max-width: 603px) {
    #div > div > div {
        flex-flow: column;
        align-items: start;

    }

    .formAdicionar input, .formAdicionar select{
        width: 350px !important;

    }

   .adicionarBtn {
    margin-top: 0 !important;
        margin-bottom: 2% !important;
   }

}

@media screen and (max-width: 508px) {
    .formEditar input {
        font-size: 0.8em;
    }

    .salvarBtn {
        font-weight: 600 !important;
        margin-bottom: 1% !important;
    }

    .formAdicionar input, .formAdicionar select{
        width: 300px !important;

    }

    .formEditar label {
        font-size: 0.9em;
    }

    #div > div {
        width: 72%;
    }

    #sec {
        flex-flow: column;
    }

    #botao {
        margin-top: 0;
        margin-bottom: 0.5em !important;
    }

    .project_container > ul {
        margin-block: 0.7em;
    }

    .removeBtn {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 424px) {
    .project_container > ul > li {
        font-size: 0.8em;
    }

    #container {
        padding-left: 1%;
    }

    .btn {
        display: none;
    }

    #botao {
        font-size: 14px;
    }

    #nome {
        font-size: 1.1em;
    }

    #div > div {
        width: 95%;
    }

    .formEditar input,
    .formEditar select {
        width: 85% !important;
    }

    .formEditar {
        margin-top: .9em;
    }
}

@media screen and (max-width: 332px) {
    #div > div {
        width: 100% !important;
    }

    .formAdicionar input,
    .formAdicionar select {
        width: 230px !important;
    }

}